html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.parent1 {
  display: flex;
  flex: 1;
}

.graph {
  flex: 1;
  padding: 20px;
  margin: 5px;
  background-color: rgb(238, 244, 247);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 50px;
  background-color: lightgray;
}

.header-text {
  margin-right: 10px; /* Adjust margin as needed */
}

